<div class="home-container">
    <section class="hero">
      <div class="hero-content">
        <div class="hero-text">
          <h1>Développeur full stack</h1>
          <p>En formation Bachelor 3 à Ynov et en alternance chez Guarani, je conçois des applications web fullstack performantes et ergonomiques avec Angular, React, Spring Boot, .NET ou NestJS. Curieux, rigoureux et orienté utilisateur, j'aime créer des interfaces fluides, accessibles et modernes tout en assurant la qualité du code et l'optimisation des performances.</p>
          <div class="hero-buttons">
            <a href="#contact" class="btn-primary">Me contacter</a>
            <a href="/projets" class="btn-secondary">Voir mes projets</a>
          </div>
        </div>
        <div class="hero-image">
          <img src="assets/BoidinYanis.png" alt="Développeur" />
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <h3>Contactez-moi</h3>
        <div class="contact-info">
          <div class="contact-item">
            <strong>Email:</strong> yanisboidin&#64;laposte.net
          </div>
          <div class="contact-item">
            <strong>Téléphone:</strong> +33 7 69 69 43 38
          </div>
          <div class="contact-item">
            <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/yanis-boidin-777b042b4" target="_blank" rel="noopener noreferrer">Mon Linkedin</a>
          </div>
          <div class="contact-item">
            <strong>GitHub:</strong> <a href="https://github.com/YanJoe72?tab=projects" target="_blank" rel="noopener noreferrer">Mon GitHub</a>
          </div>
        </div>
      </div>
    </section>
  </div>